.el-drawer__container {
    outline: none;

    * {
        outline: none;
    }

    // 隐藏自动获得焦点
    .hide-auto-focus {
        width: 0;
        height: 0;
        position: absolute;
        padding: 0;
        border: 0;
        margin: 0;
    }
}

.ex-drawer {
    .el-drawer__body {
        overflow: hidden;
        display: flex;
        flex-flow: column nowrap;
    }

    .ex-drawer__body {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: auto;
        width: 100%;
        overflow: auto;
        padding: 10px;
    }

    .ex-drawer__footer {
        flex-shrink: 0;
        flex-grow: 0;
        box-sizing: border-box;
        padding: 10px;
        border-top: 1px solid $--border-color-light;
        text-align: center;
    }
}
